body {
  body {
  background: url(fondo.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  
}

.titulo {
  background-color:#A6E4D2;
  color:red;
  padding: 30px;
  font-size: 40px;
  text-align:center;
  border-radius: 70%;
  font-family: Times, serif;
  border-style: double;
  border-color: black;
  border-width: 10px;
}

.estructura {
  color: black;
  font-size: 20px;
  font-family: Times, serif;

}

.imagenclase {
  
}

.enlace {
  
}
